{{#resume.basics}}
<div class="container about-container space-y-4 pt-14">
  <div class="">
    {{> title-light value="Contact"}}

    <div class="px-1 sm:px-4 space-y-1">
      {{#if location}}
        {{#location}}
        {{> info-tag text=(formatAddress address city region postalCode countryCode) icon="fa-solid fa-map-marker"}}
        {{/location}}
      {{/if}}

      {{#if email}}
        {{> info-tag text=this.email icon="fa-solid fa-envelope"}}
      {{/if}}

      {{#if phone}}
        {{> info-tag text=this.phone icon="fa-solid fa-mobile"}}
      {{/if}}

      {{#if website}}
        {{> info-tag text=this.website icon="fa-solid fa-earth-oceania" url=this.website}}
      {{/if}}

      {{#if profiles}}
        {{#each profiles}}
            {{> social}}
        {{/each}}
      {{/if}}
    </div>
  </div>
</section>
{{/resume.basics}}