{{#resume.basics}}
<div class="container">
  <div class="flex space-x-4 pb-1 justify-center border-b-4 border-zinc-800">
    {{#if email}}
    {{> info-tag text=this.email icon="fa-solid fa-envelope"}}
    {{/if}}

    {{#if phone}}
    {{> info-tag text=this.phone icon="fa-solid fa-mobile"}}
    {{/if}}

    {{#if website}}
    {{> info-tag text=this.website icon="fa-solid fa-earth-oceania" url=this.website}}
    {{/if}}

    {{#if profiles}}
    {{#each profiles}}
    {{> social}}
    {{/each}}
    {{/if}}
  </div>
  <section class="mt-4 space-y-2">
    {{#if summary}}
    <div class="container">
      <p class="px-4">{{{newLineToBr summary}}}</p>
    </div>
    {{/if}}
  </section>
</div>

{{#if points.length}}
<div class="container">
  {{> title-light value="Profile Summary"}}
  <section class="px-4 mt-4">
    <ul class="list-outside ml-6 font-light">
      {{#each points}}
      <li class="list-disc">{{.}}</li>
      {{/each}}
    </ul>
  </section>
</div>
{{/if}}
{{/resume.basics}}
