{{#resume.basics}}
<header class="text-center">
  <h1 class="text-4xl uppercase font-semibold">{{ name }}</h1>
  <h2 class="text-lg">{{ label }}</h2>
</header>

<section>
  <div class="flex space-x-4 pb-1 justify-center border-b-4 border-zinc-800">
    {{#if email}}
    {{> info-tag text=this.email icon="fa-solid fa-envelope"}}
    {{/if}}

    {{#if phone}}
    {{> info-tag text=this.phone icon="fa-solid fa-mobile"}}
    {{/if}}

    {{#if website}}
    {{> info-tag text=this.website icon="fa-solid fa-earth-oceania" url=this.website}}
    {{/if}}

    {{#if profiles}}
    {{#each profiles}}
    {{> social}}
    {{/each}}
    {{/if}}
  </div>
</section>

{{#if summary}}
<section>
  <p class="px-4">{{{newLineToBr summary}}}</p>
</section>
{{/if}}

{{#if points.length}}
<section>
  {{> title-light value="Profile Summary"}}
  <div class="px-4 mt-4">
    <ul class="list-outside ml-6 font-light">
      {{#each points}}
      <li class="list-disc">{{.}}</li>
      {{/each}}
    </ul>
  </div>
</section>
{{/if}}
{{/resume.basics}}
