{{#resume.basics}}
<header class="clearfix pt-4">
  <div class="flex flex-col items-center justify-center">
    <h1 class="text-4xl uppercase font-semibold tracking-wide">{{ name }}</h1>
    <h2 class="text-lg tracking-wider">{{ label }}</h2>
  </div>
</header>
{{/resume.basics}}
