{{#resume.basics}}
  {{#if image}}
  <header class="resume-header clearfix py-14">
      <div class="bg-zinc-400 h-24 flex items-center justify-center">
          <img
            src="{{image}}"
            class="rounded-full h-40"
            alt="profile-pic"
          />
      </div>
  </header>
  {{/if}}
{{/resume.basics}}
