{{#resume.basics}}
<header class="resume-header clearfix py-14">
  {{#if image}}
  <div class="bg-zinc-400 h-24 flex items-center justify-center">
    <img src="{{ image }}" class="rounded-full h-40" alt="profile-pic" />
  </div>
  {{/if}}
</header>
{{/resume.basics}}

<!--{{#resume.basics}}
  <header class="resume-header clearfix">
    <div class="bg-zinc-400 h-24 relative">

      {{#if image}}
        <img
          src="{{image}}"
          class="absolute rounded-full h-40 -mt-10"
          alt="profile-pic"
        />
      {{/if}}
    </div>
  </header>
{{/resume.basics}} !-->
