{{#resume.basics}}
  <header class="resume-header clearfix py-14">

    <div
      class="bg-zinc-400 h-24 flex flex-col items-center justify-center text-white"
    >
      <h1 class="text-4xl uppercase font-semibold tracking-wide">{{name}}</h1>
      <h2 class="text-lg tracking-wider">{{label}}</h2>
    </div>
  </header>
{{/resume.basics}}