{{#if resume.softskills.length}}
<div class="container">
  {{> title-light value="Core Competencies"}}

  <section class="px-4 mt-4 space-y-2">
    <ul class="flex flex-row flex-wrap list-outside ml-6 font-light">
      {{#each resume.softskills}}
      <li class="basis-1/3 list-disc">{{ name }}</li>
      {{/each}}
    </ul>
  </section>
</div>
{{/if}}
