{{#resume.basics}}
{{#if summary}}
<div class="container summary-container">
  {{> title-dark value="Professional Profile"}}
  <p class="summary text-left px-2 md:px-4">
    {{{newLineToBr summary}}}
  </p>
</div>
{{/if}}
{{/resume.basics}}