{{! <div class="title text-gray-100 font-semibold uppercase tracking-wider py-0.5"> }}
<div
  class="title bg-gray-100 font-semibold text-zinc-800 uppercase tracking-wider text-lg py-0.5 mb-1 text-center"
>
  <h3>{{value}}</h3>
  <div class="keyline"></div>
</div>