<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui" />
  </head>
  <body class="bg-purple-100">
    <main class="container max-w-7xl mx-auto bg-white md:shadow-md">
      <div class="grid grid-cols-7">
        <div class="col-span-7">
          <div class="mx-2 md:mx-12 space-y-4 mb-4">
            {{> components/about }}
            {{> components/softskills }}
            {{> components/work }}
            {{> components/projects }}
            {{> components/edu }}
            {{> components/volunteer }}
          </div>
          <div style="page-break-before: always"></div>
        </div>
      </div>
    </main>
  </body>
</html>
