<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui"
    />
  </head>
  <body class="bg-purple-100">
    <main class="container mx-auto bg-white md:shadow-md">
      <div class="space-y-4 screen:p-10 print:text-sm">
        {{> components/about }}
        {{> components/softskills }}
        {{> components/work }}
        {{> components/projects }}
        {{> components/edu }}
        {{> components/volunteer }}
      </div>
    </main>
  </body>
</html>
